/* USER VARIABLES SECTION */
:root {
	--accent: rgb(255, 93, 6);
	--text: rgb(52, 51, 51);
	--dark: rgb(7, 7, 7);
	--deep: #171a1a;
	--dark-header: rgb(128, 125, 125);
	--dark-div: rgb(77, 77, 77);
	--light-bg: #fafafa;
	--light-disabled: #e4e6e8;
	--light-div: #e7e7e8;
	--middle-gray: rgba(111, 122, 139, 0.75);
	--text-light: #999;
	--regular-text: 16px;
	--small-text: 14px;
	--lineheight: 1.75;
	--userfont: raleway-ws, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--radius: 5px;
	--radius-style: 0.5px;
	--transition: .25s ease-out;
}

/* BOOTSTRAP SETTINGS SECTION */
/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */
/* raleway */
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-300.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-500.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-700.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-800.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 800; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-900.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 900; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-regular.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 400; font-style: normal; }

/* Roboto */
@font-face { src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 700; font-style: normal; }



/* GENERAL CSS SETTINGS */
::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
