/* USER VARIABLES SECTION */
:root {
	--accent: rgb(220, 96, 29);
	--text: rgb(52, 51, 51);
	--dark: rgb(38, 36, 36);
	--deep: #171a1a;
	--dark-header: rgb(128, 125, 125);
	--dark-div: rgb(77, 77, 77);
	--light-bg: #fafafa;
	--light-disabled: #e4e6e8;
	--light-div: #e7e7e8;
	--middle-gray: rgba(111, 122, 139, 0.75);
	--text-light: #999;
	--regular-text: 16px;
	--small-text: 14px;
	--lineheight: 1.75;
	--userfont: raleway-ws, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--radius: 5px;
	--transition: .25s ease-out;
}

/* BOOTSTRAP SETTINGS SECTION */
/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD SECTION */
/* raleway */
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-300.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-500.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-700.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-800.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 800; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-900.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 900; font-style: normal; }
@font-face { src: url("../fonts/raleway/raleway-v22-cyrillic-regular.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 400; font-style: normal; }

/* Roboto */
@font-face { src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"); font-family: "raleway-ws"; font-weight: 700; font-style: normal; }



/* GENERAL CSS SETTINGS */
::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}


/* NAVBAR */
.navbar	{
	position: absolute;
	top: 0;
	z-index: 1000;
	padding: 43px 0 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	left: 50px;
	right: 50px;
}

.logo {
	font-size: 17px;
	white-space: nowrap;
	text-transform: uppercase;
	line-height: 1.2;
}

.logo__link {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .75px;
	text-decoration: none;
	letter-spacing: 2px;
	padding-left: 4px;	
}

.logo__link span {
	display: block;
	font-size: 12px;	
	text-transform: none;
	font-weight: 700;
	letter-spacing: 11px;
	padding-left: 36px;
	opacity: 0.45;
	padding-top: 5px;	
}

.logo__link i {
	width: 15px;
	height: 15px;
	position: relative;
	border: 2px solid var(--accent);
	display: inline-block;
	border-bottom: 2px solid rgb(136, 230, 5);
	border-top: 2px solid rgb(29, 190, 166);
	border-right: 2px solid rgb(33, 105, 193);
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	margin-right: 9px;
}

.logo__link:hover, .logo__link:focus, .logo__link:active {
	color: #fff;
}

.top-menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.top-menu__item {
	padding: 0;
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
}

.top-menu__link {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	padding: 7px 16px;
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px;
	transition: background var(--transition);
}

.top-menu__link:hover,
.top-menu__link:focus, 
span.top-menu__link {
	color: #fff;
	background-color: rgba(196, 196, 196, 0.2);
}

.menu-container{
	position: relative;
}

.menu-toggle {
	width: 22px;
	height: 22px;
	background-image: url(../images/navbar/burger_menu-white.svg);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	top: 3px;
	display: none;	
	right: 0;
}

.menu-toggle_active {
	background-image: url(../images/navbar/close.svg);
}

.top-menu.top-menu_active {
	visibility: visible;
	opacity: 1;
	transition: opacity var(--transition), visibility var(--transition);
}

.nav-social-wrap {
	text-align: right;
}

.nav-social {
	background-color: rgba(196, 196, 196, 0.2);
	border-radius: 10em;
	display: inline-block;
	padding: 2px 11px 5px;
}

.nav-social__item{
	display: inline-block;
	margin: 0 3px;
}

.nav-social__item img {
	width: 100%;
	max-height: 16.5px;
	max-width: 20px;
	opacity: 0.75;
	transition: opacity var(--transition);
}

.nav-social__item:hover img { 
	opacity: 1;
}

/* SLIDER */
.home-slider {
	position: relative;
	height: 100vh;
	min-height: 580px;
	max-height: 720px;
	color: #fff;
	background-color: var(--dark);
}
.home-slider__slide {
	background-size: cover;
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.home-slider__slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	opacity: .15;
}
.home-slider__slide::after {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	z-index: 1px;
	box-shadow: 0 0 0 30px var(--dark);
	border-radius: var(--radius);
}
.home-slider__slide .container {
	z-index: 2px;
	position: relative;
}
[data-animate] {
	opacity: 0;
	transition: all .8s ease-out;
}
[data-animate="bottom"] {
	transform: translate(0, 15px, 0);
}
.home-slider__slide.swiper-slide-active [data-animate] {
	opacity: 1;
	transform: none;
}
.home-slider__slide.swiper-slide-active .home-slider__heading {
	transition-delay: .6s;
}
.home-slider__slide.swiper-slide-active .home-slider__text {
	transition-delay: 1s;
}
.home-slider__heading {
	font-size: 58px;
	line-height: 1;
	font-weight: 300;
	margin-bottom: 35px;
	transition-delay: .3s;
}
.home-slider__heading span {
	font-size: 16px;
	background-color: var(--accent);
	border-radius: var(--radius);
	padding: 6px 16px 7px;
	font-weight: 500;
}
.home-slider__text {
	padding: 15px 22px;
	max-width: 440px;
	font-size: var(--small-text);
	background-color: rgba(32, 35, 40, 0.9);
	border-radius: 0 calc(var(--radius) * 2);
}
.home-slider__bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 440px;
	background-color: var(--dark);
	z-index: 1;
	right: 0; 
	border-radius: var(--radius) 0 0 0;
	padding: 45px 40px 45px 15px;
	font-size: 12px;
	color: #59606c;
}
.home-slider__pagination-wrapper {
	position: relative;
}
.home-slider__pagination {
	font-family: roboto-wt, sans-serif;
	font-weight: 300;
	bottom: inherit;
	margin-top: -10px;
}
.home-slider__pagination span { 
	width: 1px;
	height: 28px;
	background-color: #353941;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 8px 0;
}
.home-slider__pagination b {
	position: relative;
	font-size: 15px;
	color: #818890;
	font-weight: 300;
}
.home-slider__bottom .swiper-scrollbar-drag {
	height: 5px;
}

.home-slider__nav {
	position: relative;
}
.home-slider__prev,
.home-slider__next {
	outline: none;

}
.home-slider__prev::after,
.home-slider__next::after {
	font-size: 14px;
	color: #81889d;
}

/* Home-callback */ 
.home-callback {
	background-color: var(--deep);
	padding: 50px 0;
	color: var(--dark-header);
	position: relative;
	z-index: 1px;
}
.home-callback__header {
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}
.home-callback__header::after {
	content: '';
	width: 38%;
	height: 1px;	
	background-color: var(--dark-div);
	position: absolute;
	left: 0;
	bottom: -15px;
}

.home-callback__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
	
}
.home-callback__list > * {
	display: inline-block;
	width: 32%;
	margin-bottom: 7px;
}
.home-callback__list span {
	font-family: robot-wt, sans-serif;
	font-weight: 700;
}
.home-callback__text-right {
	text-align: right;	
}
.home-callback__text-right p {
	font-size: 16px;
	line-height: 1.65;
}
.phone-big {
	font-size: 28px;
	line-height: 1.65;
	color: var(--text);
	font-weight: 300;
}